.home-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form{
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-icon {
position: absolute;
margin-left: 5px;
}
form input{
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  border-color: rgb(172, 137, 204);
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.coins-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
  margin: 15px;
}
