* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav {
  padding: 15px;
  background-color: rgb(239, 239, 239);
  border-bottom: 1px solid rgb(172, 137, 204);
  box-shadow: 4px 9px 7px #dfdfdf;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

h2 {
  color: rgb(95, 22, 164);
}
